.title {
  margin-bottom: 10px;
  text-align: center;
  width: 210px;
  color: green;
  border: solid black 2px;
  font-weight: bolder;
}

input[type='button'] {
  background-color:aqua;
  color: black;
  border: solid black 2px;
  width: 100%;
  font-family: cursive;
  font-weight: bold;
}

input[type='text'] {
  background-color: white;
  border: solid black 2px;
  width: 100%;
  color: red;
  text-align: right;
}
